<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .c1 {
      margin-left: 900px;
    }
    .c3 {
      width: 90%;
      margin-left: 30px;
      margin-bottom: 10px;
    }
    .textColor {
      color: white;
    }
    .c7 {
      height: 360px;
      width: 40%;
      margin-bottom: 10px;
      float: left;
    }
    .c8{
      height: 360px;
      width: 40%;
      margin-right: auto;
      margin-bottom: 10px;
      float: right;
    }
  </style>

  <meta charset="UTF-8">
  <title>All product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary"><a class="textColor" href="#">ATN</a></button>
      <button type="button" class="btn btn-primary"><a class="textColor" href="/product">Product</a></button>
      <button type="button" class="btn btn-primary"><a class="textColor" href="#">Employee</a></button>
    </div>
    <div class="c1">
      <form action="/product/search" method="POST">
        <input type="text" name="ProductName" id="">
        <input type="submit" value="Search">
      </form>
    </div>
  </nav>
<!--add form-->
  <div class="c7">
    <div class="table table-dark table-hover">
      <div class="c3">
        <form action="/product/insert" enctype="multipart/form-data" method="POST">
          <p>Product Name</p>
          <input class="form-control" type="text" name="productName">
          <p>Color</p>
          <input class="form-control" type="text" name="Color">
          <p>Price </p>
          <input class="form-control" type="text" name="Price" id="">
          <p>Picture</p>
          <div><input type="file" name="picture" accept="image/*" /></div>
          <br>
          <input class="btn btn-primary" type="submit" value="Add product">
        </form>
      </div>
    </div>
  </div>
<!--delete form-->
  <div class="c8">
    <div class="table table-dark table-hover">
      <div class="c3">
        <form action="edit" method="POST">
          <input class="form-control" type="hidden" name="id" value="{{product._id}}">
          <p>Product Name</p>
          <input class="form-control" type="text" name="name" value="{{product.ProductName}}">
          <p>Color</p>
          <input class="form-control" type="text" name="color" id="" value="{{product.Color}}">
          <p>Price</p>
          <input class="form-control" type="text" name="price" id="" value="{{product.Price}}">
          <br>
          <input class="btn btn-primary" type="submit" value="Update">
        </form>
      </div>
    </div>
  </div>
<!--Table-->
  <div>
    <table class="table table-dark table-hover">
      <tr>
        <td>Id</td>
        <td>Product Name</td>
        <td>Color</td>
        <td>Price</td>
        <td>Image</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      {{# each product}}
      <tr>
        <td>{{_id}}</td>
        <td>{{ProductName}}</td>
        <td>{{[Color]}}</td>
        <td>{{Price}}</td>
        <td><img src='/product/photos/{{_id}}' alt="" width="80px"></td>
        <td><button type="button" class="btn btn-primary"><a class="textColor" href="/product/edit?id={{_id}}">Update</a></button></td>
        <td><button type="button" class="btn btn-primary"><a class="textColor" href="/product/delete?id={{_id}}">Delete</a></button></td>
      </tr>
      {{/each}}
    </table>
  </div>
</body>

</html>